@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&family=Roboto:wght@400;700&display=swap');

:root {
  --font-primary: 'Merriweather', serif;
  --font-secondary: 'Roboto', sans-serif;
}

body {
  font-family: var(--font-secondary); /* Roboto será a fonte padrão do site */
}


